<div class="container">
    <section aria-label="Footer" role="contentinfo">
        <div class="row">
            <div class="col-lg-6">
                <p>&copy; 2024 Maximilian Mleziva</p>
            </div>
            <!-- Weitere Footer-Inhalte hier -->
            <div class="col-lg-6">
                <nav aria-label="Zusätzliche Links" role="navigation">
                    <ul class="list-unstyled">
                        <li><a href=#>Impressum</a></li>
                        <li><a href=#>Datenschutz</a></li>
                        <li><a href=#>Über uns</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>